@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="jumbotron-content">
        <h1>H+ Sport</h1>
        <p class="lead">We’re committed to creating products that defy convention, and inspire our customers with pride and trust. In fact, we guarantee every product we sell. If you’re not 100 percent happy with your purchase, you can return it during the first 60 days, no questions asked.</p>
        <p><a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg">Our Products &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Philosophy</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar vel metus in vestibulum. Cras placerat libero at quam scelerisque rhoncus. Nam porta, orci eu maximus consequat, leo lectus lacinia neque, non mattis lorem nisi non ligula. Aliquam tristique enim at turpis euismod, vitae iaculis turpis gravida.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>Pellentesque convallis mi at ex aliquet, quis condimentum lacus efficitur. Maecenas at dolor mattis sem vestibulum blandit. Donec pretium, nisl ut interdum fringilla, tellus justo pharetra neque, in porttitor tortor orci a urna. Vivamus at mauris mauris. Etiam nec orci vitae nisi laoreet efficitur. Maecenas rhoncus justo tellus, ut lacinia lacus mollis non.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>People</h2>
        <p>Phasellus molestie egestas lorem, ut imperdiet mauris auctor quis. In lacinia, mi non imperdiet suscipit, odio metus facilisis nunc, sit amet consequat lectus tellus at orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>